snippet main "Main Function" bA
def main():
	print("main func")

$0
endsnippet

snippet ifn "if __name__" bA
if __name__ == "__main__":
	main()

$0
endsnippet

snippet def "function" bA
def $1($2):
	$0
endsnippet

snippet class "class" bA
class $1:

	def __init__(self$2):
		$3

	$4
endsnippet
